.css-1y4p8pa {
    width: 150%;
}

.css-1q7spjk {
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: -1rem;
    color: rgba(20, 20, 21, 0.6);
    font-size: 17px;
}

span.css-10trblm.e16nr0p30{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.css-16idsys p{
    font-size: 20px;
}
.css-5rimss p{
    font-size: 18px;
}
.css-g70r9e{
    font-size: 16px;
}

.css-1n76uvr::after{
    border: 2px solid #000;
}

.footer-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #888888;
  }
